body {
  margin: 0;
  font-family: sans-serif;
}

nav {
  background-color: black;
  color: white;

  button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
  }
  button:hover{
    background-color: gray;
  }
}

.total {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}

.banner {
  position: relative;
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/img/Header.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
  z-index: 0;
}

.contenido {
  position: relative;
  z-index: 1;
  color: white;
}

.separador {
  position: relative;
  z-index: 1;
  width: 80%;
  border: none;
  border-top: 2px solid white;
  margin: 16px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  height: 80px;

  p {
    color: white;
    margin-top: 15px;
  }
}

.contenedorRegistro{
  display: flex;
  justify-content: center;
}

.registro{
  text-align: center;
  border: 2px solid #ffa6003e;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
  form{
    display: flex;
    text-align: start;
    align-items: center;
    flex-direction: column;
  }
  input{
    width: 60%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #0000006e;
  }
  p{
    margin-top: 10px;
    margin-bottom: 0;
  }
  button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: orange;
    border-radius: 5px;
    width: 25%;
    height: 35px;
    border: 1px solid rgb(191, 119, 24);
  }
  button:hover{
    background-color: #f8c669;
  }
  button:active{
    background-color: #905f05;
  }
  h3{
    margin-top: 20px;
  }
  hr{
    border: 1px solid orange;
  }
}